.rows{
    padding: 20px;
    color: #fff;
    
   
}
.posters{
    padding: 20px;
    display: flex;
    overflow-x:scroll ;
    overflow-y: hidden;
    
}


.posterImage{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
}

.posterImage-small{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
}

.posters::-webkit-scrollbar{
    display: none;
}
.posterImage-small:hover{
    transform: scale(1.2);
}.posterImage:hover{
    transform: scale(1.2);
}
.youtube{
    padding:2rem;
   
}
.closeBtn{
    color:white;
    background-color: red;
    border: none;
    padding:10px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;

}
.btnDiv{
    display: flex;
    justify-content: center;
    margin: 3px;
   
}
.myListBtn{
    color:white;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    box-shadow: #fff;
    width:50%;
    cursor: pointer;
    margin-top: 5px;
}
.moviesPosters{
text-align: center;
}
.removeMyListBtn{
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 5px;
    font-weight: 700;
}