.container{
   margin-top: 100px;}
   h1{
    text-align: center;
    
 
   }
   .thumbNail{
   display: flex;
   flex-direction: column;
    padding:10px;
   align-items: center;
   margin-bottom: 5px;
   border-bottom: 2px solid gold;
   padding: 10px;
   justify-content: center;
  
   }
   .btn{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 7px;
    border-color: black;
    margin-top: 10px;
    cursor: pointer;
    
    
   }
   h1,.moviedescription{
   
    color: white;
   }
   .mylistImage{
      width: 400px;
   height: auto;
   }
   .mylistDescription{
      color: white;
      font-size: large;
      text-align: left;
      max-width: 390px;
   }
   h3{
      margin: 6px;
      text-align: center;
      color:gold;
      border-bottom: 2px solid white;
   }